h1 {
    color: #000;
    font-size: 48px;
}

a {
    background-color: aliceblue;
}

nav {
    background-color: #d5f9b7;
}

body {
    background-color: #F9B9B7;
    color: green;
}

.centered {
    text-align: center;
    color: magenta;
}

#footing {
    font-family: 'cursive';
}

/*pag may id= lang pwede mag #*/

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}