body {
    background-image: url(tennis_court.jpg); 
    background-size: cover; 
    background-attachment: fixed;
    color:black;
}

table, th, td {
    border: 2px yellow solid;
    opacity: 0.85;
}

table {
    margin: 100px 0px 0px 200px;
    width: 80%;
}

th,td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:nth-child(odd) {
    background-color: white;
}

th, .merged {
    background-color: #2b4e2d;
    color: white;
}